@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

.App {
    max-width: 1200px;
    min-height: 100vh;
}

main {
    min-height: 75vh;
}

.login, .register {
    min-width: 450px;
}

@media (max-width: 768px) {
    .border-sm-start-none { 
        border-style : none !important  ;
    }

}
